body { background: #ab568e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 47px; display: flex; }
.block-uploader-0 { color: #685137; font-size: 15px; margin-bottom: 5px; }
.block-invoice-1 { color: #8f4b40; font-size: 15px; margin-bottom: 5px; }
.block-order-2 { color: #13d8bc; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #931d6b; font-size: 16px; margin-bottom: 5px; }
.block-notify-4 { color: #c00e08; font-size: 18px; margin-bottom: 5px; }
.block-notify-5 { color: #a87b89; font-size: 18px; margin-bottom: 5px; }
.block-invoice-6 { color: #e51d7; font-size: 17px; margin-bottom: 5px; }
.block-cluster-7 { color: #b0842a; font-size: 20px; margin-bottom: 5px; }